@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@1,500&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}


/* ================================================ Responsive Part ===================================== */
@media (max-width:1199px) {
    .section .container {
        padding-top: 70px;
    }

    .aside {
        width: 100%;
        height: 8%;
        background: var(--bg-black-100);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-right: 1px solid var(--bg-black-50);
        transition: all 0.3s ease;
    }

    .aside .logo {
        font-size: 20px;
        text-transform: capitalize;
    }

    .aside .logo a {
        color: var(--text-black-900);
        font-weight: 700;
        padding: 10px 15px;
        font-size: 25px;
        letter-spacing: 5px;
        position: relative;
    }

    .aside .logo a span {
        font-family: 'Clicker script', cursive;
        font-size: 35px;
        color: var(--skin-color);


    }

    .aside .logo a::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-bottom: 5px solid var(--skin-color);
        border-left: 5px solid var(--skin-color);
        bottom: 0;
        left: 0;
    }

    .aside .logo a::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-top: 5px solid var(--skin-color);
        border-right: 5px solid var(--skin-color);
        top: 0;
        right: 0;
    }

    .aside .nav {
        display: none;
    }

    .aside .nav li {
        display: block;
    }

    .aside .nav li a {
        font-family: yank;
        font-size: 20px;
        font-weight: 600;
        display: block;
        color: var(--text-black-900);
        padding: 5px 15px;
        border-bottom: 1px solid var(--bg-black-50);
    }

    .aside .nav li a.active {
        color: var(--skin-color);
    }

    .aside .nav li a i {
        margin-right: 15px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 270px;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
    .about .about-content .about-text .about-p{
        display: none;
    }

    .br {
        display: none;
    }

    .about .about-content .skills .skill-item h5 {
        line-height: 40px;
        font-weight: 600;
        font-size: 18px;
        color: var(--text-black-900);
        text-transform: capitalize;
    }

    .about .about-content .skills .skill-item h5 span {
        font-size: 20px;
        color: var(--skin-color);
    }
}

@media (max-width:991px) {

    .contact .contact-info-item,
    .project .project-item,
    .service .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .home .home-img {
        display: none;
    }

    .br {
        display: none;
    }

    .style-switcher {
        margin-right: 0px;
    }

    .text h3{        
        font-size: 5vw;
    }
}


@media (max-width:767px) {

    .about .about-content .personal-info,
    .about .about-content .skills,
    .about .about-content .education,
    .about .about-content .experience,
    .service .service-item,
    .project .project-item,
    .contact .contact-info-item,
    .contact .contact-form .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .row {
        flex-direction: column-reverse;
    }

    .home .home-img {
        width: fit-content;
        display: block;
        height: 40vh;
        margin-bottom: 40px;
        margin-top: 0px;
        padding-left: 35px;

    }

    .home .home-img img {
        border: 5px solid var(--skin-color);
        width: 310px;
        height: 310px;
        object-fit: contain;
        border-radius: 50%;
    }

    .home .home-img::before,
    .home .home-img::after {
        display: none;
    }

    .home h1.hello {
        font-size: 35px;
    }

    .home h1.hello span {
        font-size: 40px;
        line-height: 1;
        font-family: 'Montserrat', sans-serif;
    }

    .home h3.my-profession {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .home .home-info {
        text-align: center;
    }

    .home .home-info p {
        font-size: 18px;
    }

    .home .home-info a {
        margin-top: 15px;
    }

    #home .btn {
        width: 100%;

    }

    .aside {
        left: -100%;
        width: 100%;
    }

    .aside .nav li a {
        font-size: 30px;
        border-bottom: 2px solid var(--bg-black-50);
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 10px;
        top: 10px;
    }

    .aside .nav-toggler.open {
        left: 10px;
        top: 10px;
    }

    .about .about-content .about-text p {
        width: 100%;
    }


    .project .container .clutter {
        padding-left: 30px;
        padding-right: 10px;
    }

    .project .project-heading h2 {
        color: var(--skin-color);
        font-weight: bold;
        font-size: 25px;
        width: fit-content;
        text-decoration: underline;
        text-underline-offset: 10px;
    }

    .contact-title {
        font-size: 23px;
        margin-bottom: 5px;
    }

    .contact-sub-title {
        font-size: 18px;
    }

    .con-2-sub {
        font-size: 17px;
    }

    .contact .social {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .contact .row a {
        width: 100%;
    }

    .contact .contact-info-item {
        margin-bottom: 10px;
    }

    .contact .contact-info-item .icon .fa {
        font-size: 30px;
    }

    .contact .contact-info-item .icon i {
        font-size: 35px;
    }

    .contact .contact-info-item h4 {
        font-size: 20px;
    }

    .contact .contact-info-item p {
        font-size: 18px;
    }

    .br {
        display: none;
    }



}

@media (max-width:500px) {
    .home-contact-btn {
        display: none;
    }

    .br {
        display: none;
    }
}